*.class
*.jar

target/
.idea/
.mvn/

### Web ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
/core/fastdoc-web/.vscode/*
/core/fastdoc-web/.idea
/core/fastdoc-web/.DS_Store
/core/fastdoc-web/*.suo
/core/fastdoc-web/*.ntvs*
/core/fastdoc-web/*.njsproj
/core/fastdoc-web/*.sln
/core/fastdoc-web/*.sw?
/core/fastdoc-web/yarn.lock
/core/fastdoc-web/.vscode/
